/*
HEADER*/
.container {margin:0;
padding:0;
width:100%;}
#header-nav { 
background-color:#FFC300;
border-radius:0;
border:2px solid #173e43;
height:auto;
}
.navbar-brand a {
color:#173e43;
font-size: 32px;
text-decoration:none;
font-weight:bold;
margin-left:30px;
padding:15px;}
.navbar-brand a:hover{
color:#3fb0ac;
text-decoration: none;}

.navbar-header button.navbar-toggle, .navbar-header span.icon-bar {
	border:2px solid #173e43;
	background-color:#3fb0ac !important;
	}
 #collapsable-nav {
	background-color:#3fb0ac;
border-top:2px solid #173e43;
}
#nav-list {
	margin: 0;
}
 #nav-list a {
	border-bottom:2px solid #173e43;
}
#nav-list p {
text-align:center;
color:#173e43; 
font-weight:bold;
font-size:24px;
}

/*/*MENU/
*/
body {background-color:#dddfd4;}
#home-tiles{
	background-color:#3fb0ac;
margin:20px 60px 20px 60px;}
#home-tiles p {
/*margin:20px 60px 20px 60px;*/
padding:25px;
height: auto;
font-family: Georgia;
font-size: 18px;
}
#home-tiles a {
	color:#173e43;
font:14px;}
#home-tiles a:hover {
	text-decoration:none;
}
h2{
	font:bold;
	font-size:24px;
}
h1{
	font:bold;
}